<?xml version="1.0" encoding="utf-8"?>
<config>
	<url tcp="tcp://127.0.0.1">
		tcp://127.0.0.1
		<servicePort port=":5555">
		</servicePort>
		<pubPort port=":5556">
		</pubPort>
	</url>
	<nodes>
		<nodeTest1>
			<data>
				<sendingData>{
					"Packets" : [
					{
						"nameID": "PacketA",
						"anInt": "int",
						"aFloat": "float"
						},
					{
						"nameID": "PacketB",
						"aDouble": "double",
						"anArray": "array"
						}
					]
				}
				</sendingData>
				<requestedData>
					{
						"nameID": "PacketC",
						"anInt": "int",
						"aFloat": "float",
						"aDouble": "double"
					}
				</requestedData>
		</data>
		</nodeTest1>
		<nodeTest2>
			<data>
				<sendingData>
					{
						"Packets" :="" [
						{
							"nameID": "PacketC",
							"anInt": "int",
							"aFloat": "float"
						},
					{
							"nameID": "PacketD",
							"aDouble": "double",
							"anArray": "array"
							}
						]
					}
				</sendingData>
				<requestedData>
					{
					"nameID": "PacketA",
					"anInt": "int",
					"aFloat": "float",
					"aDouble": "double"
					}
				</requestedData>
			</data>
		</nodeTest2>
	</nodes>
</config>